<?xml version="1.0" ?>
<robot name="create3" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="gazebo" default="ignition" />
  <xacro:arg name="robot_name" default="create3" />
  <xacro:arg name="namespace" default="" />

  <xacro:include filename="$(find pmr_tp2)/description/create3/create3_base.urdf.xacro"/>

  <!-- ground truth odometry -->
  <gazebo>
    <plugin filename="gz-sim-odometry-publisher-system" name="gz::sim::systems::OdometryPublisher">
      <odom_topic>$(arg namespace)/odom</odom_topic>
      <odom_frame>odom</odom_frame>
      <robot_base_frame>$(arg namespace)/base_link</robot_base_frame>
      <tf_topic>/tf</tf_topic> 
    </plugin>
  </gazebo>
</robot>
